<h1>signup form</h1>

<form action="/register" mehtod="POST">
    <input type="text" name="username" placeholder="username"></input>
    <input type="password" name="password" placeholder="password"></input>
    <button>Submit</button>
</form>
