h1 {
  color: rgba(0,200,100, .4);
  /*border-color: purple;
  border-width: 5px;
  border-style: solid;*/
  
  border: 2px solid rgb(255,100,80);
}

h4 {
	background: rgb(255,100,80);
}

body {
	background: pink;
/*	background: url(http://moziru.com/images/drawn-wood-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	}